<div class="container">
    <div class="row">
        <div class="col-2">
            <p><b>The Web Developer Bootcamp</b></p>
            <hr>
            <img class="rounded img-fluid" src="img/wdb.jpg" alt="">
        </div>
        <div class="col">
            <ul class="list-unstyled">
                <li class="mb-2">
                    <p>Age Check</p>
                    <button class="btn btn-dark btn-sm"
                            type="button"
                            onclick="document.app.ui.ageCheck()">
                        <i class="fa fa-terminal mr-1"></i>Age Check Exercise
                    </button>
                </li>
                <li class="mb-2">
                    <p>Exercise 1</p>
                    <button class="btn btn-dark btn-sm"
                            type="button"
                            onclick="document.app.ui.loopExercise1()">
                        <i class="fa fa-terminal mr-1"></i>While Loops Exercise
                    </button>
                </li>
                <li class="mb-2">
                    <p>Exercise 2</p>
                    <button class="btn btn-dark btn-sm"
                            type="button"
                            onclick="document.app.ui.loopExercise2()">
                        <i class="fa fa-terminal mr-1"></i>Annoy-o-Matic Exercise
                    </button>
                </li>
                <li class="mb-2">
                    <p>Exercise 3</p>
                    <button class="btn btn-dark btn-sm"
                            type="button"
                            onclick="document.app.ui.loopExercise3()">
                        <i class="fa fa-terminal mr-1"></i>For Loops Exercise
                    </button>
                </li>
                <li class="mb-2">
                    <p>Exercise 4</p>
                    <button class="btn btn-dark btn-sm"
                            type="button"
                            onclick="document.app.ui.loopExercise4()">
                        <i class="fa fa-terminal mr-1"></i>For Loops Matrix Exercise
                    </button>
                </li>
                <li class="mb-2">
                    <p>Exercise 5</p>
                    <button class="btn btn-dark btn-sm"
                            type="button"
                            onclick="document.app.ui.loopExercise5()">
                        <i class="fa fa-terminal mr-1"></i>For Each Exercise
                    </button>
                </li>
                <li class="mb-2">
                    <p>Exercise 6</p>
                    <button class="btn btn-dark btn-sm"
                            type="button"
                            onclick="document.app.ui.loopExercise6()">
                        <i class="fa fa-terminal mr-1"></i>Array Exercise
                    </button>
                </li>
            </ul>
            <h4>Todo List</h4>
            <ul>
                <li>"new" - Add a To Do</li>
                <li>"list" - View all</li>
                <li>"quit" - Quit app</li>
                <li>
                    <button class="btn btn-primary btn-sm"
                            type="button"
                            onclick="document.app.ui.todo()">
                        <i class="fa fa-terminal mr-1"></i>Launch ToDo Exercise
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>
