<h4>{{partials.test.text}}</h4>
<button type="button" onclick="document.app.ui.alertSuccess()">Alert</button>
<div>
    {{debug}}
    <h2>Flat file data displayed on a handlebars.js template loaded with ajax</h2>
    {{#objects}}
        <p>{{Title}}: <strong>{{Data}}</strong><br/> --
            <a href="{{SourceLink}}" target="_blank"><em>{{Source}}</em></a>
        </p>
    {{/objects}}
</div>
